.vector-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.iphone-16-pro-max-1-child {
    position: absolute;
    height: 2.01%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 97.99%;
    left: 0%;
    background-color: #fff;
}
.iphone-16-pro-max-1-item {
    position: absolute;
    height: 2.01%;
    width: 100%;
    top: 97.99%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #fff;
}
.amsa-university-of {
    margin: 0;
}
.nmgbc-2025-container {
    position: absolute;
    top: 3725px;
    left: 14px;
    font-size: 12px;
    color: #5d0000;
    text-align: left;
    display: inline-block;
    width: 282px;
    height: 13px;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
    background-color: #5d0000;
    width: 122px;
    height: 34.4px;
}
.iphone-16-pro-max-1-inner {
    position: absolute;
    top: 19px;
    left: 304px;
    width: 122px;
    height: 34.4px;
}
.logo-3-icon {
    position: absolute;
    width: 12.73%;
    top: 6px;
    right: 85%;
    left: 2.27%;
    max-width: 100%;
    overflow: hidden;
    height: 64px;
    object-fit: cover;
}
.register {
    position: absolute;
    top: 24px;
    left: 336px;
    font-family: 'TeX Gyre Termes';
}
.icon {
    position: absolute;
    top: 0px;
    left: -528.29px;
    width: 607.3px;
    height: 571.3px;
    object-fit: contain;
}
.nmgbc {
    position: absolute;
    top: 32.04px;
    left: 77.7px;
    letter-spacing: -0.09em;
    display: inline-block;
    width: 367.3px;
    height: 133.8px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.n {
    position: absolute;
    top: 0px;
    left: 137.78px;
    font-size: 80px;
    letter-spacing: -0.09em;
    font-family: 'Pinyon Script';
    display: inline-block;
    width: 57.3px;
    height: 29.6px;
}
.div {
    position: absolute;
    top: 79.7px;
    left: 0px;
    font-size: 170px;
    letter-spacing: -0.09em;
    text-align: right;
    display: inline-block;
    width: 367.3px;
    height: 97.7px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ational-medical-and {
    margin: 0;
    white-space: pre-wrap;
}
.ational-medical-and-container {
    position: absolute;
    top: 13.62px;
    left: 161.41px;
    font-size: 40px;
    letter-spacing: -0.03em;
    line-height: 100%;
    display: inline-block;
    font-weight: 300;
    font-family: 'Open Sauce Sans';
    text-align: left;
    width: 312px;
    height: 50.5px;
}
.nmgbc-parent {
    position: absolute;
    top: 96.93px;
    left: -610px;
    width: 473.4px;
    height: 177.4px;
    font-size: 160px;
    font-family: 'TeX Gyre Termes';
}
.icon1 {
    position: absolute;
    top: 207px;
    left: -400px;
    width: 47px;
    height: 37px;
    object-fit: cover;
}
.icon2 {
    position: absolute;
    top: 60px;
    left: -268px;
    width: 230px;
    height: 175px;
    object-fit: cover;
}
.group-item {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 216.7px;
    height: 247.5px;
    object-fit: cover;
}
.group-div {
    position: absolute;
    top: 73.7px;
    left: -251.93px;
    width: 216.7px;
    height: 247.5px;
}
.icon3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 241px;
    height: 234px;
    object-fit: contain;
}
.group-30-1 {
    position: absolute;
    top: 126px;
    left: 150px;
    width: 262px;
    height: 82px;
    overflow: hidden;
}
.group-38-1 {
    position: absolute;
    top: 85px;
    left: 371px;
    width: 195px;
    height: 273px;
    overflow: hidden;
}
.nmgbc-2025-dives {
    font-family: 'Open Sauce Sans';
}
.indonesia {
    font-weight: 900;
    font-family: 'Open Sauce Sans';
}
.nmgbc-2025-dives-container {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: -0.03em;
    line-height: 140%;
    display: inline-block;
    width: 175px;
    height: 415px;
}
.through-this-years {
    position: absolute;
    top: 106px;
    left: 198px;
    letter-spacing: -0.03em;
    line-height: 140%;
    display: inline-block;
    width: 175px;
    height: 309px;
}
.nmgbc-2025-dives-into-the-crit-parent {
    position: absolute;
    top: 236px;
    left: 183px;
    width: 373px;
    height: 415px;
}
.parent {
    position: absolute;
    top: 576px;
    left: -142px;
    width: 566px;
    height: 651px;
    text-align: justify;
    font-size: 15px;
}
.group-36-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 554px;
    height: 550px;
    overflow: hidden;
}
.group-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(100px);
    border-radius: 30px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(93, 0, 0, 0.6), rgba(10, 5, 63, 0.6) 63%);
    width: 388px;
    height: 352px;
}
.the-national-medical-container {
    position: absolute;
    top: 18px;
    left: 22px;
    letter-spacing: -0.03em;
    line-height: 140%;
    display: inline-block;
    width: 343px;
    height: 315px;
}
.rectangle-parent {
    position: absolute;
    top: 285px;
    left: 83px;
    width: 388px;
    height: 352px;
}
.group-36-1-parent {
    position: absolute;
    top: 19px;
    left: -57px;
    width: 554px;
    height: 637px;
    text-align: justify;
    font-size: 15px;
}
.group-icon {
    position: absolute;
    top: 1243px;
    left: -29px;
    width: 566px;
    height: 783px;
}
.group-43-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 416px;
    height: 119px;
    overflow: hidden;
}
.rectangle-div {
    position: absolute;
    top: 141px;
    left: calc(50% - 179.5px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 35px;
    background: radial-gradient(50% 50% at 50% 50%, #fff, rgba(93, 0, 0, 0.1));
    width: 369px;
    height: 222px;
}
.group-child1 {
    position: absolute;
    top: 396px;
    left: calc(50% - 179.5px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 35px;
    background: radial-gradient(50% 50% at 50% 50%, #fff, rgba(93, 0, 0, 0.1));
    width: 369px;
    height: 222px;
}
.group-child2 {
    position: absolute;
    top: 651px;
    left: calc(50% - 180.5px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 35px;
    background: radial-gradient(50% 50% at 50% 50%, #fff, rgba(93, 0, 0, 0.1));
    width: 369px;
    height: 234px;
}
.the-health-speech-container {
    position: absolute;
    top: 426px;
    left: 190px;
    letter-spacing: -0.03em;
    line-height: 140%;
    display: inline-block;
    width: 200px;
    height: 169px;
}
.the-biology-competition-container {
    position: absolute;
    top: 163px;
    left: 49px;
    letter-spacing: -0.03em;
    line-height: 140%;
    display: inline-block;
    width: 196px;
    height: 294px;
}
.group-44-1 {
    position: absolute;
    top: 147px;
    left: 199px;
    width: 228px;
    height: 190px;
    overflow: hidden;
}
.group-45-1 {
    position: absolute;
    top: 419px;
    left: 10px;
    width: 163px;
    height: 176px;
    overflow: hidden;
}
.group-46-1 {
    position: absolute;
    top: 662px;
    left: 251px;
    width: 176px;
    height: 247px;
    overflow: hidden;
}
.the-public-poster-container {
    position: absolute;
    top: 667px;
    left: 49px;
    letter-spacing: -0.03em;
    line-height: 140%;
    display: inline-block;
    width: 196px;
    height: 202px;
}
.group-43-1-parent {
    position: absolute;
    top: 2321px;
    left: 2px;
    width: 427px;
    height: 909px;
    text-align: justify;
    font-size: 12px;
    color: #5d0000;
}
.instagram-1-icon {
    position: absolute;
    top: 3714px;
    left: 374px;
    width: 48px;
    height: 48px;
    overflow: hidden;
}
.group-child3 {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 46.5px;
    background-color: #fff;
    width: 192px;
    height: 31px;
}
.guidebook {
    position: absolute;
    top: 6px;
    left: 51px;
    display: inline-block;
    width: 89px;
    height: 19px;
}
.rectangle-group {
    position: absolute;
    top: 3261px;
    left: 124px;
    width: 192px;
    height: 31px;
    color: #5d0000;
}
.vector-icon1 {
    position: absolute;
    height: 83.19%;
    width: 78.85%;
    top: 0%;
    right: 21.15%;
    bottom: 16.81%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.vector-icon2 {
    position: absolute;
    height: 9.39%;
    width: 13.25%;
    top: 33.07%;
    right: 29.37%;
    bottom: 57.54%;
    left: 57.38%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon3 {
    position: absolute;
    height: 9.39%;
    width: 10.66%;
    top: 32.47%;
    right: 46.68%;
    bottom: 58.14%;
    left: 42.66%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon4 {
    position: absolute;
    height: 5.56%;
    width: 37.03%;
    top: 36.96%;
    right: 12.96%;
    bottom: 57.48%;
    left: 50.01%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon5 {
    position: absolute;
    height: 28.33%;
    width: 31.84%;
    top: 71.67%;
    right: 3.63%;
    bottom: 0%;
    left: 64.53%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.vector-icon6 {
    position: absolute;
    height: 12%;
    width: 11.11%;
    top: 31.92%;
    right: 61.94%;
    bottom: 56.08%;
    left: 26.95%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.group-child4 {
    position: absolute;
    top: 237px;
    left: 90px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    background-color: #d9d9d9;
    width: 378px;
    height: 200px;
}
.rectangle-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 46.5px;
    width: 192px;
    height: 31px;
}
.register-now {
    position: absolute;
    top: 3px;
    left: 37px;
    display: inline-block;
    width: 117px;
    height: 25px;
}
.vector-group {
    position: absolute;
    top: 94px;
    left: 183px;
    width: 192px;
    height: 31px;
}
.logo-swara-ht-official-1 {
    position: absolute;
    top: 300px;
    left: 345px;
    width: 74px;
    height: 74px;
    object-fit: cover;
}
.fde68eb2-6bd6-4fe6-a66e-dcbed4-icon {
    position: absolute;
    top: 310px;
    left: 133px;
    width: 163px;
    height: 54px;
    object-fit: cover;
}
.vector-parent {
    position: absolute;
    height: 13.49%;
    width: 106.36%;
    top: 85.14%;
    right: 7.05%;
    bottom: 1.37%;
    left: -13.41%;
    font-family: 'TeX Gyre Termes';
}
.group-50-1-1 {
    position: absolute;
    top: 1787px;
    left: -80px;
    width: 573px;
    height: 628px;
    overflow: hidden;
}
.iphone-16-pro-max-1 {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 3776px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-family: 'Open Sauce Sans';
}

